<nav>
  <section class="container text-center ">
      <div class="row justify-content-md-center p-3">
        <button type="button" class="btn btn-outline-primary col col-sm-2 m-3" href="#about">À propos</button>
        <button type="button" class="btn btn-outline-primary col col-sm-2 m-3" href="#projects">Mes projets</button>
        <button type="button" class="btn btn-outline-primary col col-sm-3 m-3" href="#cv">Mon Curiculum Vitae</button>
        <button type="button" class="btn btn-outline-primary col col-sm-2 m-3" href="#contact">Me contacter</button>
      </div>
  </section>
</nav>
