/* You can add global styles to this file, and also import other style files */
/*lien pour les étoiles prit ici :https://github.com/WebDevSHORTS/Parallax-Star-Background/tree/master */

.app {
    height: 100%;
    overflow: hidden;
    background: radial-gradient(ellipse at top, #263444 0%,#090a0f 100%);
}
