<section class="text-center bg-info-subtle text-light-emphasis rounded border border-secondary">
  <h2>Me Contacter</h2>
  <p>
    Pour me contacter utilisez l'address courriel suivante:
    gabriellaperle&#64;gmail.com
  </p>
  <div class="container">
    <div class="row justify-content-md-auto">
        <p class="text-secondary col col-lg-6">Ou avec le lien:</p>
        <a class="col col-lg-6 btn btn-secondary btn-sm" href="mailto:gabriellaperle@gmail.com">Par Courriel</a>
    </div>
  </div>
</section>
