<section class="text-center bg-info-subtle text-light-emphasis rounded border border-secondary text-light">
  <h2>Me Contacter</h2>
  <p>
    Pour me contacter utilisez l'address courriel suivante:
    gabriellaperle&#64;gmail.com
  </p>
  <div class="container">
    <div class="row justify-content-md-center">
        <p class="text-secondary col col-md-auto">Ou clickez ici:</p>
        <a class="col col-md-auto btn btn-info btn-sm" href="mailto:gabriellaperle@gmail.com">Par Courriel</a>
    </div>
  </div>
</section>
