<section>
    <div>
      <h2 class="text-warning"><em>Gabriel Laperle</em></h2>
      <img class="rounded border" src="resources/1000000926-5.png" width="230" height="270">
    </div> 
    <!--<div id="navbar-to-translate" class="navigation">
      <a type="button" class="btn btn-outline-warning" href="#about">À propos</a>
      <a type="button" class="btn btn-outline-warning" href="#projects">Mes projets</a>
      <a type="button" class="btn btn-outline-warning" href="#cv">Mon Curiculum Vitae</a>
      <a type="button" class="btn btn-outline-warning" href="#contact">Me contacter</a>
      <a (click)="changeLanguageEvent($event)" type="button" class="btn btn-outline-warning">Fr / En</a>
    </div>
    -->
</section>
