.project-item-section{
    height: 100%;
    background: radial-gradient(ellipse at center, #2b517c 0%,#090a0f 100%);
}

.project-item-text{
    margin-left: 7.5%;
    margin-right: 7.5%;
}
.project-item-img{
    max-width: 100%;
    height: auto;
}
.project-item-hyperlink{
    margin-bottom: 2.5%;
}